// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$material-blue-gradient: (
  0: #000000,
  1: #020203,
  2: #060709,
  3: #090B0E,
  4: #0E1014,
  5: #12141A,
  6: #161920,
  7: #1A1E26,
  8: #20242E,
  9: #252A35,
  10: #2B313E,
  11: #313846,
  12: #384050,
  13: #3F485B,
  14: #485368,
  15: #58657F,
  16: #697897,
  17: #7283A4,
  18: #7A8CAF,
  19: #8194B9,
  20: #879AC1,
  21: #8DA1CA,
  22: #92A7D1,
  23: #97ADD9,
  24: #9CB2DF,
  25: #A0B7E5,
  26: #A4BCEB,
  27: #A8C0F1,
  28: #ACC4F6,
  29: #B0C9FC,
  30: #B2CCFF,
);

$material-green-gradient: (
  0: #000000,
  1: #020302,
  2: #060907,
  3: #090E0B,
  4: #0E1410,
  5: #121A14,
  6: #162019,
  7: #1A261E,
  8: #202E24,
  9: #25352A,
  10: #2B3E31,
  11: #314638,
  12: #385040,
  13: #3F5B48,
  14: #486853,
  15: #587F65,
  16: #699778,
  17: #72A483,
  18: #7AAF8C,
  19: #81B994,
  20: #87C19A,
  21: #8DCAA1,
  22: #92D1A7,
  23: #97D9AD,
  24: #9CDFB2,
  25: #A0E5B7,
  26: #A4EBBC,
  27: #A8F1C0,
  28: #ACF6C4,
  29: #B0FCC9,
  30: #B2FFCC,
);

$material-gradient: (
  0: #000000,
  1: #030303,
  2: #090909,
  3: #0E0E0E,
  4: #141414,
  5: #1A1A1A,
  6: #202020,
  7: #262626,
  8: #2E2E2E,
  9: #353535,
  10: #3E3E3E,
  11: #464646,
  12: #505050,
  13: #5B5B5B,
  14: #686868,
  15: #7F7F7F,
  16: #979797,
  17: #A4A4A4,
  18: #AFAFAF,
  19: #B9B9B9,
  20: #C1C1C1,
  21: #CACACA,
  22: #D1D1D1,
  23: #D9D9D9,
  24: #DFDFDF,
  25: #E5E5E5,
  26: #EBEBEB,
  27: #F1F1F1,
  28: #F6F6F6,
  29: #FCFCFC,
  30: #FFFFFF,
);
